.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

#custom-bg {
	min-width: 100%;
	height: 462px;
	position: absolute;
	top: 0;
	z-index: -999;
	padding: 0;
	margin: 0;
	@include bgimg();
}

.home {
	@include bgimg();
	background-image: url('image/Header-image.jpg');
}

.fire {
	background-image: url('image/fire-home.jpg');
	@include bgimg();
}

.rules {
	background-image: url('image/rules-home.jpg');
	@include bgimg();
}

.reading {
	background-image: url('image/reading-home.jpg');
	@include bgimg();
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";