@font-face {
    font-family: 'GoodDog';
    src: url('fonts/gooddog-webfont.eot');
    src: url('fonts/gooddog-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gooddog-webfont.woff2') format('woff2'),
         url('fonts/gooddog-webfont.woff') format('woff'),
         url('fonts/gooddog-webfont.ttf') format('truetype'),
         url('fonts/gooddog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: $body-font;
	font-weight: "light";
}

.entry-content {
	.bold-text {
		font-size: 45px;
		font-family: $heading-font;
	}
	p {
		font-size: $body-font-size;
	}
}
h2.entry-title {
	font-size: 45px;
	a {
		text-decoration: none;
		color: black;
		&:active,
		&:hover,
		&:active {
			color: black;
		}
	}
}

.main-navigation {
	font-family: $heading-font;
}

.entry-title {
	font-family: $heading-font;
}

div.about {
	p{
		font-family: $body-font;
		font-size: $body-font-size;
	}
	h2 {
		font-family: $heading-font;
		font-size: 50px;
		color: #966C6C;
	}
}

.learning-omnivores {
	font-family: $heading-font;
	color: white;
	font-size: 95px;
}

.banner-text {
	font-size: 70px;
	color: white;
	font-family: $heading-font;
}

.excerpt {
	font-size: 22px;
}

.post {
	font-size: 13px;
	.post-author, .post-date {
		
	}
	.post-title {
		font-size: 45px;
		font-family: $heading-font;
	}
	.post-link {
		text-align: left;
		a {
			text-decoration: none;
			font-size: 22px;
			font-family: $body-font;
			color: #966C6C !important; 
				&:active, 
				&:hover,
				&:focus {
				color: #966C6C;
				}
		}
	}
	blockquote {
		font-weight: light;
		font-style: italic;
	}
}

.entry-header {
	h1 {
		font-family: $heading-font;
		font-size: 70px;
		color: white;
		text-align: center;
	}
}

.menu-footer-links-container {
	ul {
		li {
			list-style: none;
			a {
				color: white;
				text-decoration: none;
				&:active, 
				&:focus,
				&:hover {
					color: white;
				}
			}
		}
	}
}

.email {
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #979797;
	padding: 10px;
	p {
		margin: 0;
		padding-bottom: 10px;
	}
	a {
		color: #966C6C;
		text-decoration: none;
		font-size: 16px;

	}
}

.view-books {
	a {
		color: #966C6C;
		font-size: 19px;
		text-decoration: none;
	}
}
