/* Variables */
$nav-height: 88px;

.nav-menu-mobile {
	display: none;
}

.mobile-toggle {
	display: none;
}

.menu-toggle {
	display: none;
}

.main-navigation {
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: $nav-height;
	background-color: rgba(60,60,60, .4);
	position: relative;
	.nav-menu {
		li {
			list-style: none;
			display: inline-block;
			padding-left: 26px;
			padding-right: 26px;
			margin-top: 20px;
			a {
				color: white;
				text-decoration: none;
				font-size: 28px;
			}
		}
	}
}

#menu-item-7 {
	background-image: url('image/Logo.png');
	list-style: none;
	width: 160px;
	height: 74px;
	background-repeat: no-repeat;
	float: left;
	margin-left: 33px;
}

.entry-title {
	text-align: center;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}


@media screen and (min-width: 300px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Mobile Menu */

@media screen and (max-width: 1110px) {
	#primary-menu {
		display: none;
	}
	.mobile-toggle {
		display: block;
		background-image: url('image/menu.png');
		width: 70px;
		height: 70px;
		background-size: cover;
		background-repeat: no-repeat;
		float: right;
		margin-right: 20px;
		color: white;
		z-index: 999;
	}

	.nav-menu-mobile {
		list-style: none;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 998;
		background-color: rgba(60,60,60, .6);
		min-width: 100%;
		margin: 0;
		padding: 0;
		li {
			padding: 20px;
			font-size: 30px;
		}
		a {
			color: white;
			text-decoration: none;
		}
	}
}